@model IEnumerable<Project_MVC.Models.Demo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <input type="number" name="Tinh" id="Tinh">
    <input type="button" value="">
    <a asp-action="Tinh">Tinh diem</a>
</p>
